{% extends 'base.html.twig' %} {% block title %}Mes annonces{% endblock %}
{%block body %}

<div class="container-fluid">
  <h1 class="text-center mt-2 mb-5">Annonces en attente de validation</h1>

  <table class="table table-striped align-middle container">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Heures</th>
        <th>Salaire</th>
        <th>Statut</th>
        <th>Créé le</th>
        <th>Entreprise</th>
        <th class="text-center">actions</th>
      </tr>
    </thead>
    <tbody>
      {% for announcement in announcements %}
      <tr>
        <td>{{ announcement.name }}</td>
        <td>{{ announcement.hours }}</td>
        <td>{{ announcement.salary }}</td>
        <td>
          {% if announcement.isValided == false and announcement.isDenied == false %}
            <i class="bi bi-clock-fill text-warning"> En attente</i>
          {% endif %}
          {% if announcement.isValided == true and announcement.isDenied == false %}
            <i class="bi bi-check-circle-fill text-success"> En ligne</i>
          {% endif %}
          {% if announcement.isValided == false and announcement.isDenied == true %}
            <i class="bi bi-x-lg text-danger"> Refusée</i>
          {% endif %}
        </td>
        <td>
          {{ announcement.createdAt ? announcement.createdAt|date('d/m/Y H:i') : '' }}
        </td>
        <td>
          {{ announcement.company.name }}
        </td>
        <td>
          <div class="d-flex justify-content-around">
            <a class="btn btn-warning my-auto" href="{{ path('consultant_announcement_show', {company: announcement.company.name, id: announcement.id})}}">
              <i class="bi bi-eye"></i>
            </a>
            {{ include('consultant/announcement/_validate_form.html.twig') }}
            {{ include('consultant/announcement/_denied_form.html.twig') }}
          </div>
          
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9" class="text-center fw-bold my-2 text-danger">Il n'y a pas d'annonces en attente</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}