{{ form_start(form) }}

    {{ form_row(form.name , {label: 'Nom de l\'annonce'}) }}
    {{ form_row(form.contract_id , {label: 'Type du contrat'}) }}
    {{ form_row(form.category_id , {label: 'Poste'}) }}
    {{ form_row(form.description , {label: 'Description'}) }}
    {{ form_row(form.hours , {label: 'Nombre d\'heures'}) }}
    {{ form_row(form.salary , {label: 'Salaire'}) }}
    {% if is_granted('ROLE_CONSULTANT') %}
        <div class="validation alert alert-success form-check form-switch  my-3" role="alert">
            {{ form_row(form.is_valided) }}
        </div>
    {% endif %}        
    
    

    <button class="btn btn-success float-end my-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
