{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{%block body %}

<div class="container-fluid">
    

    {% if is_granted('ROLE_RECRUITER', 'ROLE_ADMIN') %}
        <h1 class="text-center my-2">Mes annonces</h1>
        <a class="btn btn-success my-3 ms-2" href="{{ path('announcement_recruiter_add') }}">
            <i class="bi bi-plus-circle"></i> Nouvelle annonce 
        </a>
    {% endif %}

    {% if is_granted('ROLE_CONSULTANT') %}
        <h1 class="text-center my-2">Annonces en attente de validation</h1>
    {% endif %}
    

    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Heures</th>
                <th>Salaire</th>
                <th>Statut</th>
                <th>Créé le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.name }}</td>
                <td>{{ announcement.hours }}</td>
                <td>{{ announcement.salary }}</td>
                <td> 
                    {% if announcement.isValided == true %}
                        <i class="bi bi-check-circle-fill text-success"> En ligne</i> 
                    {% elseif announcement.isValided == false %}
                        <i class="bi bi-hourglass-split text-primary"> En attente de confirmation</i>  
                    {% endif %}
                </td>
                <td>
                    {{ announcement.createdAt ? announcement.createdAt|date('d/m/Y H:i') : '' }}
                </td>
                <td>
                    
                    {% if is_granted('ROLE_RECRUITER') %}
                        <a class="btn btn-warning" href="{{ path('announcement_recruiter_show', { name: announcement.name , id: announcement.id }) }}">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class="btn btn-success" href="{{ path('announcement_recruiter_edit', { id: announcement.id }) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_CONSULTANT') %}
                        <a class="btn btn-warning" href="{{ path('announcement_consultant_show', { name: announcement.name , id: announcement.id }) }}">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class="btn btn-success" href="{{ path('announcement_consultant_edit', { id: announcement.id }) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    {% endif %}

                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9">Vous n'avez pas encore ajouté d'annonce</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}