{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{%block body %}

<div class="container-fluid">

  <h1 class="text-center my-2">Mes offres d'emploi</h1>

  <a class="btn btn-success my-3 ms-2" href="{{ path('recruiter_announcement_add') }}">
    <i class="bi bi-plus-circle"></i> Nouvelle annonce
  </a>

  <table class="table table-striped align-middle container mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Heures</th>
        <th>Salaire</th>
        <th>Statut</th>
        <th>Entreprise</th>
        <th>Créé le</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for announcement in announcements %}
      <tr>
        <td>{{ announcement.name }}</td>
        <td>{{ announcement.hours }}</td>
        <td>{{ announcement.salary }}</td>
        <td>
          {% if announcement.isValided == true %}
          <i class="bi bi-check-circle-fill text-success"> En ligne</i>
          {% elseif announcement.isValided == false %}
          <i class="bi bi-hourglass-split text-primary"> En attente de confirmation</i>
          {% endif %}
        </td>
        <td>{{ announcement.company.name }}</td>
        <td>
          {{ announcement.createdAt ? announcement.createdAt|date('d/m/Y H:i') : '' }}
        </td>
        <td>
          <a class="btn btn-warning"
            href="{{ path('recruiter_announcement_show', { name: announcement.name , id: announcement.id }) }}">
            <i class="bi bi-eye"></i>
          </a>
          <a class="btn btn-success" href="{{ path('recruiter_announcement_edit', { id: announcement.id }) }}">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9">Vous n'avez pas encore ajouté d'annonce</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}